.feedbackBlock {
  margin-top: 55px;
}

.feedback {
  margin: 0 auto;

  &__list {
    width: 215px;
    margin: 0 auto;
  }
  &__item {
    padding-top: 35px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 35px;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.1);
  }
  &__icon {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  &__title-name {
    margin-bottom: 25px;
    font-size: 21px;
    font-family: $fff;
    color: #000000;
  }

  &__text {
    font-size: 14px;
  }
}

@media (min-width: $BrPT) {
}

@media (min-width: $BrPD) {
  .feedback {
    &__list {
      width: 1225px;
      display: flex;
      justify-content: space-between;
      margin-top: 86px;
    }

    &__item {
      width: 380px;
    }
  }
}
