.giv {
  margin-bottom: 20px;
  &__text {
    font-size: 20px;
    line-height: 26px;
    font-family: 'HelveticaNeueCyr';
    color: rgb(44, 44, 44);
    font-weight: 700;
    margin: 0 auto;
    max-width: 260px;
    @media (min-width: $BrPT) {
      font-size: 35px;
      line-height: 45px;
      max-width: 500px;
    }
  }
  .kids {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 20px;
    &::before {
      display: block;
      content: url(../../images/header_img/kids.svg);
      position: absolute;
      z-index: -1;
      min-width: 320px;
    }
    &__icon {
      display: block;
      max-width: 100%;
      @media (min-width: $BrPT) {
        width: 250px;
        height: 150px;
      }
    }
  }
}
