.givBlock {
  margin-bottom: 20px;
  &__content {
    max-width: 1040px;
    @media (min-width: $BrPT2) {
      & {
        position: relative;
      }
    }
  }
  &__text {
    font-size: 20px;
    line-height: 26px;
    font-family: 'HelveticaNeueCyr';
    color: rgb(44, 44, 44);
    font-weight: 700;
    margin: 0 auto;
    max-width: 260px;
    @media (min-width: $BrPT) {
      & {
        font-size: 35px;
        line-height: 45px;
        max-width: 500px;
      }
    }
    @media (min-width: $BrPT2) {
      & {
        font-size: 35px;
        line-height: 45px;
        max-width: 500px;
        position: absolute;
        right: 0;
        top: 150px;
        text-align: left;
      }
    }
  }
  &__over {
    @media (min-width: $BrPT2) {
      & {
        display: none;
      }
    }
  }
  .kids {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 257px;
    @media (min-width: $BrPT) {
      & {
        min-height: 500px;
      }
    }
    &::before {
      display: block;
      content: url(../../images/giv/kids.svg);
      position: absolute;
      z-index: -1;
      min-width: 320px;
      @media (min-width: $BrPT) {
        & {
          min-width: 650px;
        }
      }
      @media (min-width: $BrPT2) {
        & {
          left: 30px;
          min-width: 550px;
        }
      }
      @media (min-width: 1550px) {
        & {
          left: -201px;
          min-width: 68%;
        }
      }
    }
    &__icon {
      display: block;
      max-width: 100%;
      width: 224px;
      height: 170px;
      @media (min-width: $BrPT) {
        & {
          width: 462px;
          height: 338px;
        }
      }
      @media (min-width: $BrPT2) {
        & {
          position: absolute;
          left: 115px;
          width: 390px;
          height: 307px;
        }
      }
      @media (min-width: 1550px) {
        & {
          left: -30px;
          width: 553px;
          height: 406px;
        }
      }
    }
  }
}
