.skillsBlock {
  padding: 0 15px;
  text-align: center;
  margin-bottom: 75px;
}

.textTitle {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 26px;
}
.skills {
  text-align: left;
  margin-bottom: 55px;
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    & .one {
      color: #c7007c;
    }
    & .two {
      color: #f0ca6d;
    }
    & .three {
      color: #5f7cec;
    }
  }
  &__item {
    margin-bottom: 20px;
  }
  &__img {
    margin: 0 auto;
    display: block;
  }
  &__text {
    font-size: 14px;
    & .skills__text-bold {
      font-weight: 700;
      color: #000000;
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 38px;
  }
}
.btn {
  padding: 20px 45px;
}
@media (min-width: $BrPT) {
  .skills {
    margin-bottom: 90px;
    &__img {
      width: 190px;
      height: 190px;
      margin-bottom: 46px;
    }
    &__title {
      font-size: 25px;
      line-height: 30px;
    }
    &__item {
      margin-bottom: 46px;
    }
  }
  .textTitle {
    font-size: 20px;
    line-height: 45px;
  }
}
@media (min-width: $BrPT2) {
}
@media (min-width: $BrPD) {
  .skills {
    &__list {
      display: flex;
      flex-wrap: wrap;
    }
    &__item {
      max-width: 420px;
      width: calc(33.333% - 80px);
      margin-bottom: 0;
      &:not(:first-child) {
        margin-left: 80px;
      }
    }
    &__img {
      margin: 0;
      margin-bottom: 54px;
    }
    &__title {
      font-size: 30px;
      line-height: 36px;
    }
  }
  .textTitle {
    font-size: 30px;
    margin-bottom: 62px;
  }
}
