.years__icon {
    display: block;
    // width: 40px;
    // height: 40px;
    // min-width: 40px;
    // min-height: 40px;
    margin: 0 auto;
    margin-bottom: 28px;
}
.years__title {
    font-family: Oswald;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #2c2c2c;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 22px;
}
.years__subtitle {
    font-family: HelveticaNeueCyr;
    font-weight: 700;
    font-size: 16;
    line-height: 22px;
    color: #eebf3e;
    text-transform: uppercaseta;
    text-align: center;
    margin-bottom: 20px;
}
.years__item:nth-child(odd) {
    background: #f5f9fe;
}
.years__name {
    font-family: HelveticaNeueCyr;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2c2c2c;
    padding-top: 42px;
    margin-bottom: 28px;
}
.years__age {
    font-family: HelveticaNeueCyr;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.2;
    color: #eebf3e;
    margin-bottom: 16px;
}
.years__age sup {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    padding-left: 6px;
    padding-bottom: 18px;
    // border-bottom: 2px solid #eebf3e;
}
.years__about {

}
