.yearsBlock .container {
  max-width: 320px;
}

.yearsBlock {
  margin-bottom: 46px;
}

.years__icon {
  display: block;
  background-image: url('../../images/icon\ code.png');
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 48px auto 28px auto;
}

.textTitle {
  font-family: Oswald;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #2c2c2c;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 22px;
}

.years__subtitle {
  font-family: HelveticaNeueCyr;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #eebf3e;
  text-transform: uppercaseta;
  text-align: center;
  margin-bottom: 20px;
}

// ===== Years list =====

.years__item:nth-child(2n + 1) {
  background: #f5f9fe;
}

.years__item:nth-child(2n) {
  background: #e5f1fb;
}

.years__list {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.years__item {
  padding: 0 20px;
}

.years__header {
  display: block;
  text-align: left;
}

.years__header img {
  display: inline-block;
  margin-right: 20px;
}

.years__name {
  display: inline-block;
  font-family: HelveticaNeueCyr;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #2c2c2c;
  padding-top: 42px;
  margin-bottom: 28px;
}

.years__age {
  position: relative;
  font-family: HelveticaNeueCyr;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;
  color: $TFixColor;
  text-align: left;
  margin-bottom: 16px;
}

.years__age-up {
  position: absolute;
  top: -15px;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  margin-left: 6px;
  border-bottom: 1px solid $TFixColor;
}

.years__about {
  font-family: HelveticaNeueCyr;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2c2c2c;
  text-align: left;
  padding-bottom: 42px;
}

@media (min-width: $BrPT) {
  .yearsBlock .container {
    max-width: 710px;
  }

  .yearsBlock {
    margin-bottom: 90px;
  }

  .yearsBlock br:not(.years__br--displey) {
    display: none;
  }

  .years__icon {
    width: 54px;
    height: 54px;
    margin: 88px auto 32px auto;
  }

  .textTitle {
    font-size: 20px;
    line-height: 45px;
    margin-bottom: 38px;
  }

  .years__subtitle {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 36px;
  }

  .years__item:nth-child(4) {
    background: #f5f9fe;
  }

  .years__item:nth-child(3) {
    background: #e5f1fb;
  }

  .years__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .years__item {
    width: 340px;
  }

  .years__name {
    font-size: 25px;
    line-height: 1.2;
    padding-top: 44px;
    margin-bottom: 32px;
  }

  .years__age {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 22px;
  }

  .years__about {
    font-size: 16px;
    line-height: 30px;
  }
}

@media (min-width: $BrPD) {
  .yearsBlock .container {
    max-width: 1454px;
  }

  .yearsBlock {
    margin-bottom: 126px;
  }

  .years__icon {
    width: 70px;
    height: 70px;
    margin: 132px auto 64px auto;
  }

  .textTitle {
    font-size: 30px;
    margin-bottom: 48px;
  }

  .years__subtitle {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 64px;
  }

  .years__item:nth-child(2n + 1) {
    background: #f5f9fe;
  }

  .years__item:nth-child(2n) {
    background: #e5f1fb;
  }

  .years__list {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .years__item {
    width: 356px;
  }

  .years__name {
    font-size: 30px;
    line-height: 1.2;
    padding-top: 64px;
    margin-bottom: 34px;
  }

  .years__age {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 30px;
  }
}
