* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
button {
  cursor: pointer;
}
button:focus {
  outline: 0;
}

body {
  color: $bc;
  font-family: $bff;
  font-weight: $bfw;
  font-size: $bfs;
  background-color: $bbc;
  min-width: $bminw;
  line-height: $blh;
}
.container {
  max-width: 1420px;
  margin: 0 auto;
  text-align: center;
}
.btn {
  display: inline-block;
  font-family: 'HelveticaNeueCyr', sans-serif;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  padding: 20px 50px;
  border: 0;
  border-radius: 50px;
  background: linear-gradient($TFixColor, $TFixColor);
  box-shadow: 0px 13px 17.1px 0.9px rgba(254, 194, 64, 0.4);
  transition: all 0.3s linear;
}
.btn:hover {
  background: linear-gradient(
    rgba(142, 153, 244, 0.9),
    rgba(183, 88, 234, 0.9)
  );
  box-shadow: 0px 13px 17.1px 0.9px rgba(218, 227, 250, 0.4);
}
.textTitle {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 26px;
  color: #2c2c2c;
}
.textColor {
  color: $TFixColor;
}
.slider {
  &__icon-prev,
  &__icon-next {
    position: absolute;
    z-index: 10;
    top: 50%;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 1.5px 2.598px 9px 0px rgba(1, 1, 0, 0.1);
    & svg {
      width: 15px;
      height: 15px;
      fill: #ebebeb;
    }
    &:hover svg {
      fill: #4f7df0;
    }
  }

  &__icon-prev {
    left: 35px;
  }
  &__icon-next {
    right: 35px;
  }
}
@media (min-width: $BrPT) {
  .textTitle {
    font-size: 20px;
    line-height: 45px;
  }
}
@media (min-width: $BrPD) {
  .textTitle {
    font-size: 30px;
    margin-bottom: 62px;
  }
}
