/*
 * Все паршалы импортировать в этот файл
 */

@import './normalize.scss';
@import './helpers/fonts.scss';
@import './helpers/variables.scss';
@import './helpers/placeholders.scss';
@import './helpers/mixins.scss';
@import './base.scss';
@import './slick/slick.scss';
@import './header.scss';
@import './sections/giv.scss';
@import './sections/hero.scss';
@import './sections/years.scss';
@import './sections/test.scss';
@import './sections/skills.scss';
@import './sections/education.scss';
@import './sections/teachers.scss';
@import './sections/certificate.scss';
@import './sections/feedback.scss';
@import './footer.scss';
