// BASE
$bff: 'HelveticaNeueCyr-Roman';
$bbc: #ffffff;
$bfs: 14px;
$bc: #6b6f7a;
$bfw: 400;
$bminw: 320px;
$bmaxw: 1420px;
$blh: 24px;

// OUR
$TFixColor: #fec02a;
$BrPT: 768px;
$BrPT2: 1024px;
$BrPD: 1420px;

// header

// Content

// certificate

$cmt: 'Oswald-Bold';

// feedback

$fff: 'HelveticaNeueCyr-Bold';
